

.content{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: absolute;
    width: 95%;
    height: 90%;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
}

.title{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    background-color: #1A242D;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title h1{
    color: #fde500;
}

.form{
    width: 55%;
    height: 68%;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    background-color: #1A242D;
    margin-bottom: 15px;
}

.titulo input{
    margin-top: 30px;
    background-color: #0F1923;
    width: 620px;
    height: 40px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-weight: 700;
}

.valor-tipo{
    display: flex;
    flex-direction: row;
    width: 620px;
}

.valor-tipo input{
    float: left;
    margin-top: 20px;
    background-color: #0F1923;
    width: 300px;
    height: 40px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-weight: 700;
}

.valor-tipo select{
    float: right;
    margin-top: 20px;
    background-color: #0F1923;
    width: 300px;
    margin-left: 20px;
    height: 40px;
    border: 0;
    color: #757575;
    border-radius: 3px;
    font-weight: 700;
}

.categoria {
    display: flex;
    flex-direction: row;
    width: 620px;
}

.categoria select{
    margin-top: 20px;
    background-color: #0F1923;
    width: 300px;
    height: 40px;
    border: 0;
    color: #757575;
    border-radius: 3px;
    font-weight: 700;
    width: 100%;
}

.descricao{
    display: flex;
    flex-direction: row;
    width: 620px;
}

.descricao input {
    margin-top: 20px;
    background-color: #0F1923;
    width: 620px;
    height: 135px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-weight: 700;
}

.enviar{
    width: 55%;
}

.enviar button{
    width: 100%;
    border: 0;
    background-color: #fde500;
    height: 45px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.enviar button:hover{
    background-color: #fee500d8;
}



@media screen and (max-width: 700px){
    .form{
        width: 100%;
        margin-left: 0;
    }

}

