@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
.sidebar{
    margin: 0;
    padding: 0;
    background-color: #0F1923;
    width: 65px;
    height: 90%;
    position: fixed;
    overflow: auto;
    font-family: 'roboto';
}

.menu{
    margin-top: 100px;
    
}


.sidebar a{
    font-size: 38px;
    text-decoration: none;
    color: #fde500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.content {
    margin-left: 65px;
}

.sidebar p{
    font-size: 14px;
}
.sair{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sair button{
    margin-top: 20px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    background-color: #FF1616;
    border-radius: 5px;
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    color: white;
}

.sair button:hover {
    background-color: #ff1616d0;
}

.sidebar a:hover{
    color: #fde400d8;
    border-left: 1px #cdcdcd solid;
}