@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
.sidebar{
    margin: 0;
    padding: 0;
    background-color: #0F1923;
    width: 65px;
    height: 90%;
    position: fixed;
    overflow: auto;
    font-family: 'roboto';
}

.menu{
    margin-top: 100px;
}


.sidebar a{
    font-size: 38px;
    text-decoration: none;
    color: #fde500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.content {
    margin-left: 65px;
}

.sidebar p{
    font-size: 14px;
} 

.sidebar button:hover {
    background-color: #ff1616d0;
}

.sidebar a:hover{
    color: #fde400d8;
    border-left: 1px #cdcdcd solid;
}

.sidebar button {
    background-color: #FF1616;
    border: 0;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #0F1923;
    border-radius: 5px; 
    margin-left: 10px;
}

@media screen and (max-width: 900px){
    .sidebar{
        width: 100%;
        position: relative;
        height: auto;
    }

    .sidebar a{
        margin-bottom: 10px;
    }

    .menu{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 0;

    }

    .menu a{
        margin-left: 20px;
        float: left;
    }

    .sidebar a:hover {
        border-left: none;
    }

    .sidebar button{
        float: right;
        margin-right: 10px;
        margin-top: -60px;
    }
    .content{
        margin-left: 0;
    }

}

