.conteiner-consulta{
    margin-top: 20px;
    margin-left: 100px;
    width: 80%;
    height: 100%;
    display: flex;  
    justify-content: center;
}

.form-sem-consulta {
    float: left;
    width: 90%;
    height: 85%;
}

.form-sem-consulta p{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
}

.form-sem-consulta a{
    background-color: #E53035;
    padding:10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.form-sem-consulta span{
    color: red;
    font-weight: 700;
}

table{
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr{
    background-color: #1A242D;
    border: 1px solid #cdcdcd;
}

table th, table td{
    padding: 12px;
    text-align: left;
    color: white;
}

table td{
    font-size: 14px;
}

table tr:hover{
    background-color: #23313d;
}

.btn a{
    float: right;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #FDE500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F1923;
    text-decoration: none;
    font-weight: 900;
    margin-left: 20px;
    margin-top: -35px;
}

.btn a:hover{
    background-color: #fde400be;
}
